<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-label">
                {{.modalTitle}}
            </h5> 
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <label for="selector">Template</label>
            <select id="selector" class="form-control">
                <option value="-1">Select...</option>
                {{range .templates}}
                <option value="{{.Id}}">{{.Id}} - {{.Title}} - {{.Hours}}</option>
                {{end}}
            </select>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-use-template">
                Apply
            </button> 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>