<div class="row">
    <div class="col-md-12">
        <h2>Hours</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="btn-group float-left" role="group">
            <a class="btn btn-primary" href="/templates">Templates</a> 
        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group float-right" role="group">
            <button class="btn btn-primary" id="add" type="button">Add</button> 
            <button class="btn btn-info" id="addTemplate" type="button">Add With Template</button> 
            <button class="btn btn-danger" id="delete" type="button">Delete</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="max-height: 275px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>ID</th>
                <th>Date</th>
                <th>Ticket</th>
                <th>Title</th>
                <th>Comment</th>
                <th>Hours</th>
                <th></th>
            </thead>
            <tbody>
                {{range .hours}}
                <tr>
                    <td><input type="checkbox" class="form-input" data-id="{{.Id}}"></td>
                    <td>{{.Id}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.Ticket}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.Comment}}</td>
                    <td>{{.Hours}}</td>
                    <td>
                        <input type="button" class="btn btn-info edit" data-id="{{.Id}}" value="Edit">
                        <input type="button" class="btn btn-info dup" data-id="{{.Id}}" value="Duplicate">
                        <input type="button" class="btn btn-danger delete" data-id="{{.Id}}" value="Delete">
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 35px;">
        <h3>Summary</h3>
        <table class="table table-striped">
            <thead>
                <th>Date</th>
                <th>Hours</th>
            </thead>
            <tbody>
                {{range .summary}}
                <tr>
                    <td>{{.Date}}</td>
                    <td>{{.Hours}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

<script src="pub/js/list.js"></script>