<div class="row">
    <div class="col-md-12">
        <h2>Hour Templates Editor</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="btn-group float-left" role="group">
            <a class="btn btn-primary" href="/hours">Back to Manager</a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group float-right" role="group">
            <button class="btn btn-primary" id="add" type="button">Add</button>
            <button class="btn btn-danger" id="delete" type="button">Delete</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>ID</th>
                <th>Ticket</th>
                <th>Title</th>
                <th>Comment</th>
                <th>Hours</th>
                <th></th>
            </thead>
            <tbody>
                {{range .templates}}
                <tr>
                    <td><input type="checkbox" class="form-control" data-id="{{.Id}}"></td>
                    <td>{{.Id}}</td>
                    <td>{{.Ticket}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.Comment}}</td>
                    <td>{{.Hours}}</td>
                    <td>
                        <input type="button" class="btn btn-info edit" data-id="{{.Id}}" value="Edit">
                        <input type="button" class="btn btn-info dup" data-id="{{.Id}}" value="Duplicate">
                        <input type="button" class="btn btn-danger delete" data-id="{{.Id}}" value="Delete">
                    <td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>


<script src="pub/js/listTemplates.js"></script>